* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

body {
  font-family: "Roboto";
  background-color: #f9fafb;
}

header {
  background-color: #213b66;
  width: 100vw;
  height: 20vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 300px;
}

header img:hover {
  transform: translateY(-3px);
  transition: all 0.2s;
}

/* #29A672 */
.first-section {
  padding: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-section h1 {
  max-width: 690px;
  text-align: center;

  color: #29a672;
  font-weight: bold;
  font-size: 30px;
}

.what-we-do {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.what-we-do div {
  max-width: 690px;
  text-align: center;
  background-color: white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.09);
  padding: 20px;
  border-radius: 2%;
}

.what-we-do div h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

.what-we-do div p {
  font-size: 20px;
}

.what-we-do div:hover {
  transform: translateY(-3px);
  transition: all 0.2s;
}

.tech {
  margin-top: 20px;
  padding: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tech h1 {
  color: #29a672;
}

.tech h1 {
  margin-bottom: 20px;
}

.apply {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.apply h1,
h3 {
  color: #29a672;
}

.apply h1 {
  margin-bottom: 20px;
}

.apply .content {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  display: flex;
  margin-top: 20px;
  width: 100vw;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #29a672;
}

footer img {
  width: 100vw;
  justify-content: center;
  max-width: 500px;
  margin-bottom: 30px;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5% 10% 0 10%;
  border-top: 1px solid #29a672;
}

.titleInfo {
  display: flex;
  width: 40%;
  padding-bottom: 1em;
}

.titleInfo ul {
  margin-left: 80px;
  display: flex;

  flex-direction: row;
}

.titleInfo li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

footer form {
  width: 100vw;
  max-width: 340px;
  height: auto;
  border-radius: 3px;
  padding: 8px;
  text-align: right;
}

form p {
  font-weight: bold;
  color: #29a672;
  font-size: 1.3em;
}

form textarea {
  width: 100%;
  height: 12em;
  color: #000;
  margin-top: 1em;
  border: 2px solid #29a672;
  border-radius: 4px;
  font-size: 1em;
  resize: none;
}

footer .form input {
  text-align: left;
  width: 100%;
  height: 3em;
  color: #000;
  margin-top: 1em;
  border: 2px solid #29a672;
  border-radius: 4px;
  font-size: 1em;
}

::placeholder {
  color: #29a672;
  opacity: 1;
}

footer .form button {
  border: 2px solid #29a672;
  background-color: white;
  color: #29a672;
  width: 100%;
  max-width: 200px;
  height: 2.7em;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
}

footer .form button:hover {
  background-color: #29a672;
  color: white;
  transition: 0.3s;
  transform: translate(+1px, +3px);
}

.logos:hover {
  transition: 1.5s;
  transform: rotateY(360deg);
}

@media (max-width: 935px) {
  footer form {
    justify-content: center;
    text-align: center;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleInfo {
    width: 100%;
    justify-content: space-between;
  }

  .tech {
    text-align: left;
  }

  .tech h1 {
    text-align: center;
  }
}

@media (max-width: 785px) {
  .tech ul {
    margin-left: 25px;
  }
}
@media (max-width: 710px) {
  #ytplayer {
    width: 95%;
    min-height: 50%;
  }

  .what-we-do div {
    align-items: center;
    width: 95%;
  }
}

@media (max-width: 630px) {
  .box {
    width: 80%;
    margin-top: 10px;
  }
}
